@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Merriweather');


body {
  font-family: 'メイリオ', 'Hiraino Kaku Gothic Pro', sans-serif;
  color: #0000ff;
  background-color: #abcdcd;
}
.main-body {
  background-color: #ffffFF;
  margin: 0;
  padding: 0;
}
@media (min-width: 1000px) {
  .main-body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* answer */
.answer {
  margin-left: 200px;
  padding-bottom: 20px;
}
.answer h3 {
  margin: 0;
  padding: 0;
}
.answer .row {
  display: flex;
  flex-direction: row;
}
.answer .flex-table {
  width: 200px;
  height: 200px;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  border: solid 2px #0000ff;
}
.answer .flex-table th {
  text-align: center;
  padding: 3px;
  margin: 0;
  font-size: 25px;
  background-color: #ffffff;
  border: solid 1px #0000ff;
}
.problem .flex-table .point {
  background-color: #00ff33;
}